<template>
    <button :class="'py-2 px-4 rounded ' + (disabled ? 'disabled ' : '')  + (tailwindClass)" :disabled="disabled">
        <slot></slot>
    </button>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

export default defineComponent({
    props: {
        tailwindClass: {
            type: Array as PropType<string[]>,
            default: () => []
        },
        disabled: {
            type: Boolean as PropType<boolean>,
            default: false
        }
    },
    setup(props) {
        // const { tailwindClass } = toRefs(props);
        // return { tailwindClass }
    }
})
</script>

<style lang="scss" scoped>
</style>