<template>
    <div class="dropdown-wrapper">
        <div class="relative h-full">
            <div class="h-full flex justify-center items-center" @click="opened = !opened">
                <slot>
                    <c-button class="btn-primary">Toggle Dropdown</c-button>
                </slot>
            </div>
            <div class="absolute top-full right-0 w-max p-4 z-10 shadow rounded" v-if="opened">
                <ul>
                    <li v-for="item in items" :key="item.value" class="p-2" @click="$router.push({ name: item.name })">
                        {{ item.value }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent, PropType, ref } from "vue";
import CButton from "@/components/Custom/CButton.vue";

export default defineComponent({
    components: { CButton },
    props: {
        items: {
            type: Object as PropType<{ value: string, name: string }[]>,
            // eslint-disable-next-line @typescript-eslint/no-empty-function
            default: () => {}
        }
    },
    setup() {
        const opened = ref(false);
        return { opened }
    }
})
</script>