<template>
    <div>
        <input :id="id" :type="type" :placeholder="placeholder" :value="modelValue" @input="updateValue" ref="input"
               :class="'appearance-none border-0 border-b-2 px-3 py-2 block w-full focus:outline-none focus:shadow-none' + (validInput ? ' valid-input' : '') + (invalidInput ? ' invalid-input': '')"/>
        <div v-if="messages" class="messages text-sm text-left ml-2 text-red-600">
            {{ messages }}
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

export default defineComponent({
    emits: ['update:modelValue'],
    props: {
        modelValue: {
            type: String as PropType<string>,
            default: ""
        },
        id: {
            type: String as PropType<string>,
            default: ""
        },
        type: {
            type: String as PropType<string>,
            default: "text"
        },
        placeholder: {
            type: String as PropType<string>,
            default: ""
        },
        messages: {
            type: String as PropType<string>,
            default: null
        },
        validInput: {
            type: Boolean as PropType<boolean>,
            default: false
        },
        invalidInput: {
            type: Boolean as PropType<boolean>,
            default: false
        }
    },
    setup(props, { emit }) {

        const updateValue = ((e: any) => {
            emit('update:modelValue', e.target.value)
        });

        return { updateValue }
    }
})
</script>

<style scoped lang="scss">
input[type="*"]:focus {
    box-shadow: none;
}
input {
    border-bottom: #569ca9 solid 2px;
    &:focus {
        box-shadow: none !important;
        border-bottom: #bf2554 solid 2px;
    }
}
</style>
