<template>
    <div v-if="dialog" @show="show" @click.self="hide"
         class="z-40 overflow-auto w-screen h-screen fixed sm:p-20 top-0 left-0 bg-black bg-opacity-40">
        <div class="rounded-lg bg-white m-auto m-4 flex flex-col" :style="'max-width: ' + modalSize">
            <header class="p-3 border-b border-gray-200 text-left font-bold text-2xl">
                <slot name="title">{{ title }}</slot>
            </header>
            <main class="p-3 border-b border-gray-200">
                <slot>Content</slot>
            </main>
            <footer class="p-3 flex justify-end">
                <slot name="footer">
                    <c-button class="btn-danger mr-3" id="cancel" @click="hide">cancel</c-button>
                    <c-button class="btn-primary" id="save" @click="onSave">Save</c-button>
                </slot>
            </footer>
        </div>
    </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType, ref, toRefs } from "vue";
import CButton from "@/components/Custom/CButton.vue";

export default defineComponent({
    name: 'CustomModal',
    components: { CButton },
    props: {
        title: {
            type: String as PropType<string>,
            default: ''
        },
        size: {
            type: String as PropType<string>,
            default: 'md'
        }
    },
    setup(props, { emit }) {
        const { size } = toRefs(props);

        const modalSize = computed((): string => {
            switch (size.value) {
                case 'sm':
                    return '300px';
                case 'lg':
                    return '800px';
                case 'xl':
                    return '1140px'
                default:
                    return '500px';
            }
        })

        const dialog = ref(false);
        const hide = (() => dialog.value = false);
        const show = (() => dialog.value = true);

        const onSave = (() => emit('on-save'));

        return { dialog, hide, show, onSave, modalSize }
    }
})
</script>