<template>
    <div :class="color + ' rounded-full py-3 px-6 text-white bold text-center'">
        {{ text }}
    </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

export default defineComponent({
    props: {
        color: {
            type: String as PropType<string>,
            default: ''
        },
        text: {
            type: String as PropType<string>,
            default: ''
        }
    }
})
</script>