<template>
    <div>
        <table v-if="fields" class="w-full text-left">
            <thead v-if="!hideHeader">
                <tr>
                    <th v-for="header in fields" :key="header"
                        :class="(header.sortable ? 'sortable cursor-pointer ' : '') + (header.key === lastSorted ? 'active ' : '') + 'py-3 table-cell'"
                        aria-hidden="true" :aria-sort="header.key === lastSorted ? sortBy : 'none'"
                        @click="sortTable(header.key)" @mouseenter="mouseEnter(header.key)"
                        @mouseleave="mouseLeave(header.key)"
                    >
                        <div class="flex">
                            <span class="pr-1">
                              {{ header.key }}
                            </span>
                            <span
                                :class="(active(header) ? 'opacity-100 ' : 'opacity-0 ') + (hover(header) ? 'opacity-50 ' : 'opacity-0 ') + 'material-icons md-dark md-inactive flex items-center'"
                                style="font-size: 18px">

                                <template v-if="header.key !== lastSorted">
                                    {{ 'arrow_upward' }}
                                </template>
                                <template v-else>
                                    {{ sortBy === "ascending" ? 'arrow_upward' : 'arrow_downward' }}
                                </template>
                            </span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr v-for="row in items" :key="row" :class="'table-row-item ' + (isActive(row) ? 'active' : '')">
                <td v-for="field in fields" :key="field" class="py-3"
                    @click="rowClicked(row, items.indexOf(row))">
                    <slot :name="getTableHeaderName(row, row[field.key])" v-bind="row">{{ row[field.key] }}</slot>
<!--                    <table></table>-->
                </td>
                <td>
                    <slot name="custom">

                    </slot>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script lang="ts">

import {computed, defineComponent, toRefs, PropType, ref, onMounted, reactive, watch} from "vue";
import { useStore } from "vuex";
import { getGetterName } from "@/common/helpers";

export default defineComponent({
    props: {
        fields: {
            type: Array as PropType<{ key: string, sortable: boolean }[]>,
            default: null
        },
        hideHeader: {
            type: Boolean as PropType<boolean>,
            default: false
        },
        items: {
            type: Array as PropType<any>,
            default: null
        },
        moduleName: {
            type: Object as PropType<{ name: string, multiple: number}>,
            required: true
        }
    },
    setup(props, { emit }) {
        const store = useStore();

        const { fields } = toRefs(props);
        const { items } = toRefs(props);
        const { moduleName } = toRefs(props);

        let currentItem = ref({ id: '' });
        let lastSorted = ref("");
        let sortBy = ref("");
        let currentFocus = ref("");
        const hoverIcon = ref(false);

        onMounted(async () => {
            currentItem.value.id = await store.getters[getGetterName(moduleName.value.name, moduleName.value.multiple)].id
        });

        const current = computed(() => {
            return store.getters[getGetterName(moduleName.value.name, moduleName.value.multiple)].id
        })

        const isActive = ((item: any) => {
            return current.value === item.id;
        })

        const active = ((header: { key: string, sortable: boolean }) => header.sortable && header.key === lastSorted.value && checkColumn(header.key))
        const hover = ((header: { key: string, sortable: boolean }) => header.sortable && header.key === currentFocus.value && !checkColumn(header.key) && hoverIcon.value)

        const sortTable = ((columnName: string) => {
            currentFocus.value = columnName;
            if (columnName === lastSorted.value) {
                if (sortBy.value === "ascending") {
                    sortBy.value = "descending";
                } else {
                    sortBy.value = "ascending";
                }
            } else {
                sortBy.value = "ascending";
                lastSorted.value = columnName;
            }
            if (sortBy.value === "ascending") {
                return items.value.sort((a: any, b: any) => {
                    const left: any = (a[columnName] > b[columnName]);
                    const right: any = (a[columnName] < b[columnName]);
                    return left - right;
                })
            }
            if (sortBy.value === "descending") {
                return items.value.sort((a: any, b: any) => {
                    const left: any = (a[columnName] < b[columnName]);
                    const right: any = (a[columnName] > b[columnName]);
                    return left - right;
                })
            }
        });

        const getTableHeaderName = ((row: any, item: string) => {
            return Object.keys(row).reduce((acc: string, sum: string) => {
                if (row[sum] === item) {
                    acc = sum;
                }
                return acc;
            }, "")
        });

        const checkColumn = ((columnName: string) => lastSorted.value === columnName);

        const mouseEnter = ((columnName: string) => {
            currentFocus.value = columnName;
            hoverIcon.value = !(checkColumn(columnName) && sortBy.value !== 'none');
        })

        const mouseLeave = ((columnName: string) => {
            hoverIcon.value = false;
        })

        const rowClicked = ((row: any, index: number) => {
            emit('onRowClicked', row, index);
            currentItem.value = row;
        })

        return {
            sortTable,
            getTableHeaderName,
            lastSorted,
            sortBy,
            mouseEnter,
            mouseLeave,
            currentFocus,
            checkColumn,
            hoverIcon,
            active,
            hover,
            rowClicked,
            currentItem,
            isActive,
            current
        }
    }
})
</script>

<style lang="scss">
td {
    border-top: 1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

th {
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

th.sortable:hover {
    & > div > span {
        color: rgba(0, 0, 0, .87);
    }
}

th.sortable.active {
    & > div > span {
        font-weight: 600;
    }
}

.table-row-item:hover {
    cursor: pointer;
    background-color: rgba(190, 190, 190, 0.2);
}
.table-row-item.active {
    background-color: rgba(190, 190, 190, 0.5);
}
</style>