//@forward './tailwind.config.js' as config-*;
//
//$primary: (
//  'success': #22c55e,
//  'danger': #dc2626,
//  'warning': #facc15,
//  'dark': #343a40
//);
//
//@each $color, $hex in $primary {
//  .btn-#{$color} {
//    background-color: $hex;
//    color: white;
//    font-weight: 400;
//    text-align: center;
//    vertical-align: middle;
//    &:hover {
//      background-color: darken($hex, 5%);
//    }
//  }
//}
//
//@debug config;