<template>
    <delete-category-modal ref="dialog" size="md" title="Do you want to delete this category ?"></delete-category-modal>
    <c-container>
        <h1 class="text-2xl bold">Category</h1>
        <div class="flex justify-between rounded-lg p-8 shadow my-6">
            <div class="text-left font-medium flex items-center text-lg">
                <ul class="list-disc">
                    <li>
                        Create a new category by giving it a name
                    </li>
                    <li>
                        Change the name of a category by clicking on it
                    </li>
                </ul>
            </div>
            <div class="flex">
                <div class="flex flex-col">
                    <c-input placeholder="Category name" v-model="state.name" :messages="v$.name?.$errors[0]?.$message"
                             :valid-input="!v$.name.$invalid" :invalid-input="v$.name?.$errors.length > 0"></c-input>
                </div>
                <div class="flex items-center ml-3">
                    <c-button :tailwind-class="['flex items-center btn-primary']" @click="createCategory">
                        <span class="material-icons">
                            add
                        </span>
                    </c-button>
                </div>
            </div>
        </div>
        <div>
            <beat-loader v-if="loading" :loading="loading" color="var(--primary-color)"></beat-loader>
            <div v-else>
                <div v-if="categories.length > 0" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                    <div v-for="category of categories" :key="category.id"
                         class="relative py-6 px-4 shadow-lg rounded-lg">
                        <div class="flex flex-col items-center">
                            <div class="divide-y divide-gray-200 mb-4 mt-2">
                                <c-input v-if="editMode && (clickedCategoryId === category.id)" v-model="category.name"
                                         @click="clickedCategory(false, category.id)"
                                         @focusout="updateName(category)"></c-input>
                                <h2 v-else @click="clickedCategory(true, category.id)"
                                    class="bold text-xl flex items-center">
                                    {{ category.name }}
                                </h2>
                            </div>
                        </div>
                        <div class="absolute top-2 right-2 cursor-pointer" @click="show(category)">
                    <span class="material-icons text-red-600 hover:bg-gray-50 p-1 rounded-full">
                        clear
                    </span>
                        </div>
                    </div>
                </div>
                <div v-else>
                    No Category
                </div>
            </div>
        </div>

    </c-container>
</template>

<script lang="ts">

import { computed, defineComponent, onMounted, ref, watch } from "vue";
import CContainer from "@/components/Custom/CContainer.vue";
import DeleteCategoryModal from "@/components/modal/DeleteCategoryModal.vue";
import CButton from "@/components/Custom/CButton.vue";
import CInput from "@/components/Custom/CInput.vue";
import BeatLoader from "vue-spinner/src/BeatLoader.vue";
import { minLength, required } from "@vuelidate/validators";
import { useVuelidate, ValidationRule } from "@vuelidate/core";
import { useStore } from "vuex";
import { createToast } from "mosha-vue-toastify";
import { Category } from "@/@types";

export default defineComponent({
    components: { CButton, CContainer, CInput, DeleteCategoryModal, BeatLoader },
    setup() {
        const store = useStore();

        const dialog = ref();
        const loading = ref<boolean>();
        const state = ref({
            name: ''
        });

        const editMode = ref(false);
        const clickedCategoryId = ref('');

        onMounted(async () => {
            if (selectedRestaurant.value.id !== '') {
                try {
                    loading.value = true;
                    await store.dispatch("categories/getCategories", selectedRestaurant.value.id);
                    loading.value = false;
                } catch (e) {
                    loading.value = false;
                    createToast('Failed to retrieve Category', { type: "danger", position: "bottom-right" })
                }
            }
        });

        const categories = computed(() => store.getters["categories/categories"]);
        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);

        watch(selectedRestaurant, async () => {
            try {
                loading.value = true;
                await store.dispatch("categories/getCategories", selectedRestaurant.value.id);
                loading.value = false;
            } catch (e) {
                loading.value = false;
                createToast('Failed to retrieve Category', { type: "danger", position: "bottom-right" })
            }
        });

        const rules = computed(() => ({
            name: { required, minLength: minLength(1) }
        }));

        const show = ((item: Category) => dialog.value.show(item));

        const updateName = (async (category: Category) => {
            try {
                editMode.value = !editMode.value;
                await store.dispatch("categories/updateCategory", {
                    restaurantId: selectedRestaurant.value.id,
                    category: category
                });
            } catch (e) {
                createToast('Error while updating category', { type: "danger", position: "bottom-right" })
            }
        });

        const clickedCategory = ((edit: boolean, categoryId: string) => {
            if (edit) {
                editMode.value = !editMode.value;
            }
            clickedCategoryId.value = categoryId;
        });

        const createCategory = (async () => {
            const correctForm = await v$.value.$validate();
            if (correctForm) {
                try {
                    await store.dispatch("categories/addCategory", {
                        restaurantId: selectedRestaurant.value.id,
                        category: state.value
                    });
                    state.value.name = '';
                    v$.value.$reset();
                } catch (e) {
                    createToast(e, { type: "danger", position: "bottom-right" })
                }
            }
        });

        const v$ = useVuelidate<ValidationRule>(rules, state);

        return {
            state,
            v$,
            createCategory,
            categories,
            updateName,
            editMode,
            clickedCategory,
            loading,
            clickedCategoryId,
            dialog,
            show
        }
    }
})
</script>
