<template>
    <dish-modal ref="modalDish"></dish-modal>
    <c-container>
        <div class="text-2xl bold">Dishes</div>
        <div v-if="selectedRestaurant.id === ''">
            Please select a restaurant
        </div>
        <div v-else>
            <div class="flex">
                <c-button id="create-dish" class="btn-primary" @click="show">Create dish</c-button>
                <div class="ml-auto" v-if="selectedDish.id.length > 0">
                    <c-button id="update-dish" class="btn-primary mr-2" @click="updateDish">Update dish
                    </c-button>
                    <c-button id="delete-dish" class="btn-danger" @click="deleteDish">Delete dish
                    </c-button>
                </div>
            </div>
            <beat-loader v-if="loading" :loading="loading" color="var(--primary-color)"></beat-loader>
            <div v-else>
                <c-table v-if="dishes?.length > 0" :items="dishes" :fields="fields"
                         :module-name="{ name: 'dishes', multiple: 2 }" @onRowClicked="selectedRow"></c-table>
                <div v-else>No dishes yet</div>
            </div>
        </div>
    </c-container>
</template>


<script lang="ts">
import { computed, defineComponent, onMounted, ref, watch } from "vue";
import { useStore } from "vuex";
import { createToast } from "mosha-vue-toastify";
import CContainer from "@/components/Custom/CContainer.vue";
import CButton from "@/components/Custom/CButton.vue";
import DishModal from "@/components/modal/DishModal.vue";
import CTable from "@/components/Custom/CTable.vue";
import BeatLoader from "vue-spinner/src/BeatLoader.vue";
import { Dish } from "@/@types";

export default defineComponent({
    name: 'Dish',
    components: { CTable, DishModal, CButton, CContainer, BeatLoader },
    setup() {
        const store = useStore();
        const modalDish = ref();
        const loading = ref<boolean>();

        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);
        const selectedDish = computed(() => store.getters["dishes/selectedDish"]);
        const dishes = computed(() => store.getters["dishes/dishes"]);

        watch(selectedRestaurant, async () => {
            loading.value = true;
            await store.dispatch("dishes/getDishes", selectedRestaurant.value.id);
            loading.value = false;
        });

        onMounted(async () => {
            try {
                if (selectedRestaurant.value.id !== '') {
                    loading.value = true;
                    await store.dispatch("dishes/getDishes", selectedRestaurant.value.id);
                    loading.value = false;
                }
            } catch (e) {
                createToast('You have to select a restaurant first', { type: 'danger', position: 'bottom-right' });
                loading.value = false;
            }
        });

        const updateDish = (() => {
            modalDish.value.show(selectedDish);
        });

        const deleteDish = (async () => {
            try {
                await store.dispatch("dishes/deleteDish", {
                    restaurantId: selectedRestaurant.value.id,
                    dishId: selectedDish.value.id
                });
            } catch (e) {
                createToast("Error while deleting dish", { type: "danger", position: "bottom-right" })
            }
        });

        const selectedRow = (async (dish: Dish) => {
            await store.dispatch("dishes/setCurrentDish", dish);
        })

        const fields = [
            {
                key: "name",
                sortable: true
            },
            {
                key: "price",
                sortable: true
            },
            {
                key: "is_available",
                sortable: true
            }
        ];

        const show = (() => modalDish.value.show());

        return {
            selectedRestaurant,
            dishes,
            show,
            modalDish,
            fields,
            updateDish,
            deleteDish,
            selectedDish,
            selectedRow,
            loading
        }
    }
})
</script>
