<template>
    <delete-menu-modal ref="dialog" size="md" title="Do you want to delete this menu ?"></delete-menu-modal>
    <c-container>
        <h1 class="text-2xl bold">Menus</h1>
        <div class="flex justify-between rounded-lg p-8 shadow my-6">
            <div class="text-left font-medium flex items-center text-lg">
                <ul class="list-disc">
                    <li>
                        Create a new dish by giving him a name
                    </li>
                    <li>
                        Change the display, name of a dish by clicking on it
                    </li>
                </ul>
            </div>
            <div class="flex">
                <div class="flex flex-col">
                    <c-input placeholder="Menu name" v-model="state.name" :messages="v$.name?.$errors[0]?.$message"
                             :valid-input="!v$.name.$invalid" :invalid-input="v$.name?.$errors.length > 0"></c-input>

                    <div id="display" @click="displayedMenu(false)"
                         :class="(state.display ? 'text-yellow-600 py-3 px-3 rounded-full text-sm' : 'text-red-600 py-3 px-3 rounded-full text-sm') + ' cursor-pointer font-bold'">
                        {{ state.display ? 'DISPLAYED' : 'NOT DISPLAYED' }}
                    </div>
                </div>
                <div class="flex items-center ml-3">
                    <c-button :tailwind-class="['flex items-center btn-primary']" @click="createMenu">
                        <span class="material-icons">
                            add
                        </span>
                    </c-button>
                </div>
            </div>
        </div>
        <div>
            <beat-loader v-if="loading" :loading="loading" color="var(--primary-color)"></beat-loader>
            <div v-else>
                <div v-if="menus.length > 0" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                    <div v-for="menu of menus" :key="menu.id" class="relative py-6 px-4 shadow-lg rounded-lg">
                        <div class="flex flex-col items-center">
                            <div class="divide-y divide-gray-200 mb-4 mt-2">
                                <c-input v-if="editMode && (clickedMenuId === menu.id)" v-model="menu.name"
                                         @click="clickedMenu(false, menu.id)"
                                         @focusout="updateName(menu)"></c-input>
                                <h2 v-else @click="clickedMenu(true, menu.id)" class="bold text-xl flex items-center">
                                    {{ menu.name }}
                                </h2>
                            </div>
                            <div @click="displayedMenu(true, menu)"
                                 :class="(menu.display ? 'text-yellow-600 border-2 border-yellow-400 py-2 px-2 rounded-full text-sm' : 'text-red-600 border-2 border-red-400 py-2 px-2 rounded-full text-sm') + ' cursor-pointer items-center flex font-bold'">
                                {{ menu.display ? 'DISPLAYED' : 'NOT DISPLAYED' }}
                            </div>
                        </div>
                        <div class="absolute top-2 right-2 cursor-pointer" @click="show(menu)">
                    <span class="material-icons text-red-600 hover:bg-gray-50 p-1 rounded-full">
                        clear
                    </span>
                        </div>
                    </div>
                </div>
                <div v-else>
                    No menus
                </div>
            </div>
        </div>
    </c-container>
</template>

<script lang="ts">

import { computed, defineComponent, onMounted, ref, watch } from "vue";
import CContainer from "@/components/Custom/CContainer.vue";
import DeleteMenuModal from "@/components/modal/DeleteMenuModal.vue";
import CButton from "@/components/Custom/CButton.vue";
import CInput from "@/components/Custom/CInput.vue";
import BeatLoader from "vue-spinner/src/BeatLoader.vue";
import { minLength, required } from "@vuelidate/validators";
import { useVuelidate, ValidationRule } from "@vuelidate/core";
import { useStore } from "vuex";
import { createToast } from "mosha-vue-toastify";
import { Menu } from "@/@types";

export default defineComponent({
    components: { CButton, CContainer, CInput, DeleteMenuModal, BeatLoader },
    setup() {
        const store = useStore();

        const dialog = ref();
        const loading = ref<boolean>();
        const state = ref({
            name: '',
            display: false
        });

        const editMode = ref(false);
        const clickedMenuId = ref('');

        onMounted(async () => {
            if (selectedRestaurant.value.id !== '') {
                try {
                    loading.value = true;
                    await store.dispatch("menus/getMenus", selectedRestaurant.value.id);
                    loading.value = false;
                } catch (e) {
                    loading.value = false;
                    createToast('Failed to retrieve Menu', { type: "danger", position: "bottom-right" })
                }
            }
        });

        const menus = computed(() => store.getters["menus/menus"]);
        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);

        watch(selectedRestaurant, async () => {
            try {
                loading.value = true;
                await store.dispatch("menus/getMenus", selectedRestaurant.value.id);
                loading.value = false;
            } catch (e) {
                loading.value = false;
                createToast('Failed to retrieve Menu', { type: "danger", position: "bottom-right" })
            }
        });

        const rules = computed(() => ({
            name: { required, minLength: minLength(1) }
        }));

        const show = ((item: Menu) => dialog.value.show(item));

        const displayedMenu = (async (edit: boolean, menu: Menu) => {
            if (edit) {
                menu.display = !menu.display;
                await store.dispatch("menus/updateMenu", { restaurantId: selectedRestaurant.value.id, menu: menu });
            } else {
                state.value.display = !state.value.display;
            }
        });

        const updateName = (async (menu: Menu) => {
            try {
                editMode.value = !editMode.value;
                await store.dispatch("menus/updateMenu", { restaurantId: selectedRestaurant.value.id, menu: menu });
            } catch (e) {
                createToast('Error while updating menu', { type: "danger", position: "bottom-right" })
            }
        });

        const clickedMenu = ((edit: boolean, menuId: string) => {
            if (edit) {
                editMode.value = !editMode.value;
            }
            clickedMenuId.value = menuId;
        });

        const createMenu = (async () => {
            const correctForm = await v$.value.$validate();
            if (correctForm) {
                try {
                    await store.dispatch("menus/addMenu", {
                        restaurantId: selectedRestaurant.value.id,
                        menu: state.value
                    });
                    state.value.name = '';
                    v$.value.$reset();
                } catch (e) {
                    createToast(e, { type: "danger", position: "bottom-right" })
                }
            }
        });

        const v$ = useVuelidate<ValidationRule>(rules, state);

        return {
            state,
            v$,
            createMenu,
            menus,
            displayedMenu,
            updateName,
            editMode,
            clickedMenu,
            clickedMenuId,
            dialog,
            show,
            loading
        }
    }
})
</script>
