<template>
    <c-container>
        <h1 class="text-2xl bold">Reservations</h1>
        <div v-if="selectedReservation.id !== ''" class="flex justify-end py-5">
            <c-button id="update-reservation-accepted" class="btn-success mr-2" @click="updateReservation('Accepted')">
                Accept
            </c-button>
            <c-button id="update-reservation-refused" class="btn-danger mr-2" @click="updateReservation('Refused')">
                Refuse
            </c-button>
            <c-button id="update-reservation-available" class="btn-primary mr-2"
                      @click="updateReservation('Available')">Available
            </c-button>
            <c-button id="update-reservation-canceled" class="btn-danger mr-2" @click="updateReservation('Canceled')">
                Cancel
            </c-button>
        </div>
        <div class="mt-6">
            <beat-loader v-if="loading" :loading="loading" color="var(--primary-color)"></beat-loader>
            <div v-else>
                <c-table v-if="reservations?.length > 0" :items="reservations" :fields="fields"
                         :moduleName="{ name: 'reservations', multiple: 1}" @onRowClicked="selectedRow">
                    <template #status="{ status }">
                        <c-pills :color="statusColor(status)" :text="status"></c-pills>
                    </template>
                </c-table>
                <div v-else>
                    No reservations yet
                </div>
            </div>
        </div>
    </c-container>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref, watch } from "vue";
import { useStore } from "vuex";
import { createToast } from 'mosha-vue-toastify';
import CTable from "@/components/Custom/CTable.vue";
import BeatLoader from "vue-spinner/src/BeatLoader.vue";
import { Reservation } from "@/@types";
import CButton from "@/components/Custom/CButton.vue";
import CPills from "@/components/Custom/CPills.vue";
import CContainer from "@/components/Custom/CContainer.vue";

export default defineComponent({
    name: 'ManageReservation',
    components: { CContainer, CPills, CButton, CTable, BeatLoader },
    setup() {
        const store = useStore();
        const loading = ref<boolean>();

        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);
        const selectedReservation = computed(() => store.getters["reservations/selectedReservation"]);
        const reservations = computed(() => store.getters["reservations/reservations"]);

        watch(selectedRestaurant, async () => {
            try {
                loading.value = true;
                await store.dispatch("reservations/getReservations", selectedRestaurant.value.id);
                loading.value = false;
            } catch (e) {
                loading.value = false;
                createToast(e.message, { type: 'danger', position: 'bottom-right' });
            }
        });

        onMounted(async () => {
            if (selectedRestaurant.value.id !== '') {
                try {
                    loading.value = true;
                    await store.dispatch("reservations/getReservations", selectedRestaurant.value.id);
                    loading.value = false;
                } catch (e) {
                    loading.value = false;
                    createToast(e.message, { type: 'danger', position: 'bottom-right' });
                }
            }
        });

        const fields = [
            {
                key: 'name',
                sortable: true
            },
            {
                key: 'nb_people',
                sortable: true
            },
            {
                key: 'is_validated',
                sortable: true
            },
            {
                key: 'status',
                sortable: true
            },
        ];

        const selectedRow = (async (reservation: Reservation) => {
            await store.dispatch('reservations/setCurrentReservation', reservation)
        });

        const updateReservation = (async (status: string) => {
            let updatedReservation = selectedReservation.value;
            updatedReservation.status = status;
            await store.dispatch('reservations/updateReservation', {
                restaurantId: selectedRestaurant.value.id,
                updatedReservation: updatedReservation
            });
        });

        const statusColor = ((status: string) => {
            switch (status) {
                case 'Pending':
                    return 'bg-yellow-500';
                case 'Accepted':
                    return 'bg-green-500';
                case 'Canceled':
                    return 'bg-red-500';
                case 'Refused':
                    return 'bg-red-700';
                default:
                    return 'bg-blue-500';
            }
        });

        return { reservations, fields, selectedReservation, selectedRow, statusColor, updateReservation, loading }
    }
})
</script>
