<template>
    <handle-restaurant-modal ref="handleRestaurantDialog"></handle-restaurant-modal>
    <c-container>
        <h1 class="text-2xl bold">Restaurants</h1>
        <div class="flex py-5">
            <c-button id="create-restaurant" class="btn-primary" @click="show">create restaurant</c-button>
            <div class="ml-auto" v-if="selectedRestaurant.id !== ''">
                <c-button id="update-restaurant" class="btn-primary mr-2" @click="updateRestaurant">Update restaurant
                </c-button>
                <c-button id="delete-restaurant" class="btn-danger" @click="deleteRestaurant">Delete restaurant
                </c-button>
            </div>
        </div>
        <div>
            <beat-loader v-if="loading" :loading="loading" color="var(--primary-color)"></beat-loader>
            <div v-else>
                <c-table class="pt-3" v-if="restaurants.length > 0" :fields="fields" :items="restaurants"
                         :moduleName="{ name: 'restaurants', multiple: 1}" @onRowClicked="selectRestaurant">
                </c-table>
                <div v-else>
                    No restaurant
                </div>
            </div>
        </div>
    </c-container>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, reactive, ref, watch } from "vue";
import HandleRestaurantModal from "@/components/modal/HandleRestaurantModal.vue";
import CButton from "@/components/Custom/CButton.vue";
import CTable from "@/components/Custom/CTable.vue";
import BeatLoader from "vue-spinner/src/BeatLoader.vue";
import { useStore } from "vuex";
import { Restaurant } from "@/@types";
import { reservationOriginalState, tableOriginalState, dishOriginalState } from "@/originalState";
import CContainer from "@/components/Custom/CContainer.vue";

export default defineComponent({
    name: 'ManageRestaurant',
    components: { CContainer, CButton, HandleRestaurantModal, CTable, BeatLoader },
    setup() {
        const store = useStore();
        const handleRestaurantDialog = ref();
        const loading = ref<boolean>();

        const restaurants = computed(() => store.getters['restaurants/ownerRestaurants']);
        const selectedRestaurant = computed(() => store.getters['restaurants/selectedRestaurant']);

        // watch(selectedRestaurant, (newVal, oldValue) => {
        // });

        const fields = reactive([
            {
                key: "name",
                sortable: true
            },
            {
                key: "address"
            },
            {
                key: "kitchen_style",
                sortable: true
            }
        ]);

        const submit = (async () => {
            // Call store
        });

        const selectRestaurant = (async (restaurant: Restaurant) => {
            // Reset all current Items
            await store.dispatch('restaurants/setCurrentRestaurant', restaurant);

            await store.dispatch('dishes/setCurrentDish', {
                ...dishOriginalState
            });
            await store.dispatch("reservations/setCurrentReservation", {
                ...reservationOriginalState
            });
            await store.dispatch("tables/setCurrentTable", {
                ...tableOriginalState
            });
        });

        const updateRestaurant = (() => {
            handleRestaurantDialog.value.show(selectedRestaurant);
        })

        const deleteRestaurant = (async () => {
            await store.dispatch('restaurants/deleteRestaurant', selectedRestaurant.value);
        })

        const show = (() => handleRestaurantDialog.value.show());

        return {
            submit,
            show,
            handleRestaurantDialog,
            restaurants,
            fields,
            selectRestaurant,
            updateRestaurant,
            deleteRestaurant,
            selectedRestaurant,
            loading
        }
    }
})
</script>
