<template>
    <table-modal ref="handleTableModal"></table-modal>
    <c-container>
        <div class="text-2xl bold">Tables</div>
        <div v-if="selectedRestaurant.id === ''">Please select a restaurant</div>
        <div v-else>
            <div class="flex">
                <c-button id="create-table" class="btn-primary" @click="show">Create table</c-button>
                <div class="ml-auto" v-if="selectedTable.id !== ''">
                    <c-button id="update-table" class="btn-primary mr-2" @click="updateTable">Update table
                    </c-button>
                    <c-button id="delete-table" class="btn-danger" @click="deleteTable">Delete table
                    </c-button>
                </div>
            </div>
            <beat-loader v-if="loading" :loading="loading" color="var(--primary-color)"></beat-loader>
            <div v-else>
                <c-table v-if="tables.length > 0" :items="tables" :fields="fields"
                         :moduleName="{ name: 'tables', multiple: 1 }"
                         @onRowClicked="rowClicked"></c-table>
                <div v-else>
                    No tables yet
                </div>
            </div>
        </div>
    </c-container>
</template>

<script lang="ts">
import {computed, defineComponent, onMounted, ref, watch} from "vue";
import { useStore } from "vuex";
import CTable from "@/components/Custom/CTable.vue";
import TableModal from "@/components/modal/TableModal.vue";
import { createToast } from "mosha-vue-toastify";
import CContainer from "@/components/Custom/CContainer.vue";
import BeatLoader from "vue-spinner/src/BeatLoader.vue";
import CButton from "@/components/Custom/CButton.vue";
import { Table } from "@/@types";

export default defineComponent({
    components: { CButton, CContainer, TableModal, CTable, BeatLoader },
    setup() {
        const store = useStore();
        const handleTableModal = ref();
        const loading = ref<boolean>();

        const tables = computed(() => store.getters["tables/tables"]);
        const selectedTable = computed(() => store.getters["tables/selectedTable"]);
        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);

        watch(selectedRestaurant, async () => {
            try {
                loading.value = true;
                await store.dispatch("tables/tables", selectedRestaurant.value.id);
            } finally {
                loading.value = false;
            }
        });

        onMounted(async () => {
            if (selectedRestaurant.value.id !== '') {
                try {
                    loading.value = true;
                    await store.dispatch("tables/tables", selectedRestaurant.value.id);
                    loading.value = false;
                } catch (e) {
                    createToast("Failed to retrieve tables", { type: "danger", position: "bottom-right" });
                    loading.value = false;
                }
            }

        });

        const show = (() => handleTableModal.value.show());

        const updateTable = (() => {
            handleTableModal.value.show(selectedTable);
        });

        const deleteTable = (async () => {
            await store.dispatch("tables/deleteTable", {
                restaurantId: selectedRestaurant.value.id,
                tableId: selectedTable.value.id
            });
        });

        const rowClicked = ((table: Table) => store.dispatch("tables/setCurrentTable", table))

        const fields = [
            {
                key: "table_numero",
                sortable: true
            },
            {
                key: "nb_place",
                sortable: false
            },
            {
                key: "available",
                sortable: true
            }
        ];

        return {
            tables,
            fields,
            selectedRestaurant,
            handleTableModal,
            show,
            rowClicked,
            updateTable,
            selectedTable,
            deleteTable,
            loading
        }
    }
})
</script>
