<template>
    <div class="navbar flex fixed flex-row bg-white border-b border-gray-200 w-screen z-20">

        <div class="flex items-center cursor-pointer px-3" @click="toggleSidebar">
            <span class="material-icons">
                view_headline
            </span>
        </div>

        <div class="ml-auto flex">
            <div v-show="isOwner && restaurants.length > 1">
                <div id="dropdownRestaurants" data-dropdown-toggle="dropdown-restaurants"
                     class="ml-auto px-4 h-full flex items-center cursor-pointer hover:bg-gray-100"
                     aria-labelledby="dropdownDefault">
                    <div class="text-center inline-flex items-center">
                        {{ selectedRestaurant.id !== '' ? selectedRestaurant.name : 'Select a restaurant' }}
                        <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </div>
                </div>

                <div id="dropdown-restaurants" class="hidden z-20 border border-gray-100 bg-white"
                     aria-labelledby="dropdownDefault">
                    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200">
                        <li v-for="restaurant of restaurants" :key="restaurant.id"
                            @click="setCurrentRestaurant(restaurant)"
                            class="block py-2 px-4 bg-white hover:bg-pink-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                            {{ restaurant.name }}
                        </li>
                    </ul>
                </div>
            </div>

            <div v-if="isOwner && restaurants.length === 1"
                 class="ml-auto px-4 h-full flex items-center cursor-pointer hover:bg-gray-100">
                {{ restaurants[0].name }}
            </div>

            <!-- Dropdown menu -->
            <div id="dropdownDefault" data-dropdown-toggle="dropdown"
                 class="px-4 flex items-center hover:bg-gray-100" aria-labelledby="dropdownDefault">
                <span id="navbar-user-logo-test" class="material-icons md-36 cursor-pointer">person</span>
            </div>

            <div id="dropdown"
                 class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-300 shadow-md dark:bg-gray-700">
                <ul v-if="isConnected" class="py-1 text-sm text-gray-700 dark:text-gray-200"
                    id="dropdown-menu-connected"
                    aria-labelledby="dropdownDefault">
                    <li id="user-profile" @click="$router.push({ name: 'Profile' })"
                        class="block py-2 px-4 hover:bg-magenta-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                        Profile
                    </li>
                    <li id="logout" @click="logout"
                        class="block py-2 px-4 hover:bg-magenta-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                        Logout
                    </li>
                </ul>
                <ul v-else id="dropdown-menu-login" class="dropdown-menu-connection">
                    <li id="login" @click="$router.push({ name: 'Login'})"
                        class="block py-2 px-4 hover:bg-magenta-50 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                        Login
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script lang="ts">

import { computed, defineComponent, ref, watch, Ref } from "vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import { Restaurant } from "@/@types";
import { toggleSidebar, sidebarState } from "@/components/Navigation/sidebarState";

export default defineComponent({
    name: 'NavBar',
    setup() {
        const store = useStore();
        const router = useRouter();

        const dropdown = ref(false);
        const dropdownBis = ref(false);

        const isConnected = computed(() => store.getters["users/isConnected"]);
        const isOwner = computed(() => store.getters["users/owner"]);
        const restaurants = computed(() => store.getters["restaurants/ownerRestaurants"]);
        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);

        watch(restaurants, async (newVal) => {
            console.log(newVal)
            if (newVal.length === 1) {
                await store.dispatch('restaurants/setCurrentRestaurant', newVal[0])
            }
        });

        const setCurrentRestaurant = (async (restaurant: Restaurant) => {
            await store.dispatch('restaurants/setCurrentRestaurant', restaurant)
        });

        const logout = (async () => {
            await store.dispatch('users/logout');
            await router.push({ name: 'Home' });
        });

        const userNotConnected = [
            {
                value: 'Login',
                name: 'Login'
            }
        ];

        return {
            dropdown,
            dropdownBis,
            userNotConnected,
            isConnected,
            logout,
            restaurants,
            setCurrentRestaurant,
            selectedRestaurant,
            isOwner,
            toggleSidebar
        }
    }
})
</script>

<style scoped lang="scss">
.navbar {
    height: var(--navbar-height);
}

.dropdown-menu-connection > li:not(:last-child) {
    @apply border-b border-white;
}
</style>
