<template>
    <div class="sidebar" :style="' height: calc(100vh - var(--navbar-height))'">
        <aside class="flex flex-col items-start bg-white border-r border-gray-200 h-full">
            <ul>
                <!--       DEFAULT NAVIGATION         -->
                <div v-for="navigation in defaultNavigations" :key="navigation.id" class="flex items-center">
                    <li :id="navigation.id" class="hover:bg-gray-100 w-full">
                        <router-link
                            :to="{ name: navigation.component }"
                            class="h-12 px-3 flex flex justify-center cursor-pointer items-center w-full">
                            <span class="material-icons">{{ navigation.icon }}</span>
                            <span v-if="sidebarState"
                                 :class="(sidebarState ? '' : '') + ' whitespace-nowrap flex items-center w-full ml-2 font-bold text-gray-600 text-sm'">
                                {{ navigation.text }}
                            </span>
                        </router-link>
                    </li>

                </div>
                <!--       USER CONNECTED         -->

                <!--       OWNER CONNECTED         -->
                <div v-if="owner">
                    <template v-for="navigation in ownerNavigations" :key="navigation.id">
                        <li :id="navigation.id" class="hover:bg-gray-100 w-full">
                            <router-link
                                :to="{ name: navigation.component }"
                                class="h-12 px-3 flex flex justify-center cursor-pointer items-center w-full">
                                <span class="material-icons">{{ navigation.icon }}</span>
                                <span v-if="sidebarState"
                                      :class="(sidebarState ? '' : '') + ' whitespace-nowrap flex items-center w-full ml-2 font-bold text-gray-600 text-sm'">
                                {{ navigation.text }}
                            </span>
                            </router-link>
                        </li>
                    </template>
                </div>
            </ul>
        </aside>
    </div>
</template>

<script lang="ts">

import { computed, defineComponent, ref } from 'vue';
import { useStore } from "vuex";
import { toggleSidebar, sidebarState } from "@/components/Navigation/sidebarState";

export default defineComponent({
    name: 'SideBarLeft',
    setup() {
        const store = useStore();
        const expandSidebar = ref<boolean>(false);

        const defaultNavigations = [
            {
                component: 'Home',
                icon: 'home',
                id: 'sidebar-home',
                text: 'Home'
            },
            {
                component: 'RestaurantsList',
                icon: 'storefront',
                id: 'sidebar-restaurant-list',
                text: 'Restaurants'
            },
        ];

        const ownerNavigations = [
            {
                component: 'ManageRestaurant',
                icon: 'restaurant',
                id: 'owner-restaurants',
                text: 'Vos restaurants'
            },
            {
                component: 'ManageTable',
                icon: 'table_restaurant',
                id: 'owner-restaurant-tables',
                text: 'Tables'
            },
            {
                component: 'ManageDishMenuCategory',
                icon: 'menu_book',
                id: 'owner-restaurant-dishes',
                text: 'Plats & autres'
            },
            {
                component: 'ManageReservation',
                icon: 'book_online',
                id: 'owner-restaurant-reservations',
                text: 'Reservations'
            },
            {
                component: 'ManageUsersRestaurant',
                icon: 'engineering',
                id: 'owner-restaurant-users',
                text: 'Users'
            }
        ];

        const owner = computed(() => store.getters["users/owner"]);
        const isUser = computed(() => store.getters["users/isUser"]);

        return { owner, isUser, defaultNavigations, ownerNavigations, expandSidebar, sidebarState, toggleSidebar }
    }
})
</script>

<style lang="scss">
.router-link-active {
    @apply bg-magenta-200 text-white;
}

.sidebar {
    position: sticky;
    top: var(--navbar-height);
}
</style>
