<template>
    <div>
        Home
    </div>
</template>

<script lang="ts">

import {defineComponent, onMounted} from 'vue';
import CDropdown from "@/components/Custom/CDropdown.vue";
import {useStore} from "vuex";
export default defineComponent({
    name: 'HomeView',
    setup() {
        const store = useStore();

        onMounted(async () => {
            if(store.getters["users/owner"]) {
                await store.dispatch('restaurants/getOwnerRestaurants');
            }
        });
    }
})

</script>