<template>
    <login></login>
</template>

<script>

import { defineComponent } from "vue";
import Login from "../components/Login/Login";

export default defineComponent({
    components: { Login }
})
</script>