<template>
    <div>
        <h1 class="font-bold text-4xl text-left">Pokawa - Troyes</h1>
        <div class="text-left">12 Janvier 2022</div>
        <nav class="mt-3 flex flew-row">
            <div v-for="dishCategory in getAllCategories()" :key="dishCategory.id">
                <button @click="changeCategory(dishCategory.name)" class="btn-dishes mr-3">
                    {{ dishCategory.name }}
                </button>
            </div>
        </nav>
        <DishesList :dishCategoryName="dishCategoryName"/>
    </div>
</template>

<script lang="ts">

import {defineComponent, ref, toRefs} from 'vue'
import CTable from '../components/Custom/CTable.vue';
import CButton from '../components/Custom/CButton.vue';
import CInput from '../components/Custom/CInput.vue';
import { getAllCategories } from '@/services/dishes.services';
import { useDishes } from '@/composables/dishes';

export default defineComponent({
    emits: ['onRowClicked', 'sortTable'],
    setup() {
        const { getAllDishesCategories } = useDishes();
        const dishCategoryName = ref('Plats chauds');
        let name = ref('');
        const changeCategory = (name: string) => dishCategoryName.value = name;

        let fields = [{key: "name", sortable: true}, {key: "weight", sortable: true}];
        let items = ref<{ name: string, weight: number }[]>([
            {name: 'Antoine', weight: 5},
            {weight: 10, name: 'Romain'},
            {weight: 50, name: 'Christophe'}
        ])

        const rowClicked = ((item: { name: string, weight: number }, index: number) => console.log(item, index));

        return {
            dishCategoryName,
            getAllCategories,
            getAllDishesCategories,
            changeCategory,
            fields,
            rowClicked,
            items,
            name
        }
    }
})
</script>