<template>
    <c-modal ref="dialog" size="lg">
        <template #default>
            Item to be deleted '{{ category.name }}'
        </template>
        <template #footer>
            <c-button class="btn-primary mr-3 cursor-pointer" id="cancel" @click="hide">cancel</c-button>
            <c-button class="btn-danger cursor-pointer" id="save" @click="deleteItem">Delete</c-button>
        </template>
    </c-modal>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from "vue";
import CModal from "@/components/Custom/CModal.vue";
import CButton from "@/components/Custom/CButton.vue";
import { useStore } from "vuex";

export default defineComponent({
    name: 'DeleteCategoryModal',
    components: { CModal, CButton },
    setup() {
        const store = useStore();
        let category = ref();
        const dialog = ref();

        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);

        const show = ((item: string) => {
            category.value = item;
            dialog.value.show();
        });

        const hide = (() => {
            dialog.value.hide();
        });

        const deleteItem = (async () => {
            try {
                await store.dispatch("categories/deleteCategory", {
                    restaurantId: selectedRestaurant.value.id,
                    categoryId: category.value.id
                })
                hide();
            } catch (e) {
                console.error(e)
            }
        });

        return { deleteItem, dialog, show, hide, category }
    }
})
</script>
