<template>
    <c-modal ref="dialog" size="lg">
        <template #default>
            Item to be deleted '{{ menu.name }}'
        </template>
        <template #footer>
            <c-button class="btn-primary mr-3 cursor-pointer" id="cancel" @click="hide">cancel</c-button>
            <c-button class="btn-danger cursor-pointer" id="save" @click="deleteItem">Delete</c-button>
        </template>
    </c-modal>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from "vue";
import CModal from "@/components/Custom/CModal.vue";
import CButton from "@/components/Custom/CButton.vue";
import { useStore } from "vuex";

export default defineComponent({
    name: 'DeleteMenuModal',
    components: { CModal, CButton },
    setup() {
        const store = useStore();
        let menu = ref();
        const dialog = ref();

        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);

        const show = ((item: string) => {
            menu.value = item;
            dialog.value.show();
        });

        const hide = (() => {
            dialog.value.hide();
        });

        const deleteItem = (async () => {
            try {
                await store.dispatch("menus/deleteMenu", { restaurantId: selectedRestaurant.value.id, menuId: menu.value.id })
                hide();
            } catch (e) {
                console.error(e)
            }
        });

        return { deleteItem, dialog, show, hide, menu }
    }
})
</script>
