<template>
    <c-modal ref="dialog" :title="edit ? 'Update your dish' : 'Add a dish'" size="lg" @onSave="submit()">
        <form @submit.prevent>
            <c-input v-model="state.name" id="dish-input-name" class="mt-3" :invalid-input="v$.name.$errors.length > 0"
                     :messages="v$.name?.$errors[0]?.$message" :valid-input="!v$.name.$invalid" placeholder="name"></c-input>

            <c-input v-model.number="state.price" id="dish-input-price" class="mt-3" type="number" :invalid-input="v$.price.$errors.length > 0"
                     :messages="v$.price?.$errors[0]?.$message" :valid-input="!v$.price.$invalid" placeholder="price"></c-input>

            <div class="w-1/2 flex items-center justify-start">
                <label for="dish-input-available" class="mr-2">Is available</label>
                <input type="checkbox" id="dish-input-available" v-model="state.is_available"/>
            </div>


            <!--            <div class="flex">-->
            <!--                <div class="w-1/2 flex items-center justify-start">-->
            <!--                    <label for="on-place" class="mr-2">On place</label>-->
            <!--                    <input type="checkbox" v-model="state.on_place" id="on-place"/>-->
            <!--                </div>-->
            <!--                <div class="w-1/2 flex items-center justify-start">-->
            <!--                    <label for="take-away" class="mr-2">Take away</label>-->
            <!--                    <input type="checkbox" v-model="state.take_away" id="take-away"/>-->
            <!--                </div>-->
            <!--            </div>-->
        </form>
    </c-modal>
</template>

<script lang="ts">
import { computed, defineComponent, reactive, ref, toRefs } from "vue";
import { useVuelidate, ValidationRule } from '@vuelidate/core';
import { required, minLength } from '@vuelidate/validators';
import { dishOriginalState } from "@/originalState";
import CInput from "@/components/Custom/CInput.vue";
import CModal from "@/components/Custom/CModal.vue";
import { useStore } from "vuex";

export default defineComponent({
    name: 'ManageRestaurant',
    components: { CInput, CModal },
    setup() {
        const store = useStore();
        const edit = ref(false);

        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);

        let state = ref({
            ...dishOriginalState
        });

        const rules = computed(() => ({
            name: {
                required,
            },
            price: { required },
            is_available: { required }
        }));

        const v$ = useVuelidate<ValidationRule>(rules, state);

        const dialog = ref();

        const show = ((dish: any) => {
            if(dish) {
                edit.value = true;
                state.value = dish.value;
            } else {
                state.value = {
                    ...dishOriginalState
                };
            }
            dialog.value.show();
        })

        const submit = (async () => {
            const correctForm = await v$.value.$validate();

            if (correctForm) {
                if(edit.value) {
                    await store.dispatch('dishes/updateDish', { selectedRestaurant: selectedRestaurant.value, dish: state.value });
                    edit.value = false;
                    dialog.value.hide();
                } else {
                    await store.dispatch('dishes/addDish', { selectedRestaurant: selectedRestaurant.value, dish: state.value });
                    state.value = {
                        ...dishOriginalState
                    };
                    v$.value.$reset();
                    dialog.value.hide();
                }
            }
        })

        return { state, v$, submit, dialog, show, edit }
    }
})
</script>
