<template>
    <c-modal ref="dialog" :title="edit ? 'Update your restaurant' : 'Create a restaurant'" size="lg" @onSave="submit()">
        <form @submit.prevent>
            <c-input v-model="state.name" id="restaurant-input-name" class="mt-3" :invalid-input="v$.name.$errors.length > 0"
                     :messages="v$.name?.$errors[0]?.$message" :valid-input="!v$.name.$invalid" placeholder="name"></c-input>

            <c-input v-model="state.address" id="restaurant-input-address" class="mt-3" :invalid-input="v$.address.$errors.length > 0"
                     :messages="v$.address?.$errors[0]?.$message" :valid-input="!v$.address.$invalid" placeholder="address"></c-input>

            <c-input v-model="state.city" id="restaurant-input-city" class="mt-3" :invalid-input="v$.city.$errors.length > 0"
                     :messages="v$.city?.$errors[0]?.$message" :valid-input="!v$.city.$invalid" placeholder="city"></c-input>

            <c-input v-model="state.cp" id="restaurant-input-cp" class="mt-3" :invalid-input="v$.cp.$errors.length > 0"
                     :messages="v$.cp?.$errors[0]?.$message" :valid-input="!v$.cp.$invalid" placeholder="cp"></c-input>

            <c-input v-model="state.country" id="restaurant-input-country" class="mt-3" :invalid-input="v$.country.$errors.length > 0"
                     :messages="v$.country?.$errors[0]?.$message" :valid-input="!v$.country.$invalid" placeholder="country"></c-input>

            <c-input v-model="state.activity" id="restaurant-input-activity" class="mt-3" :invalid-input="v$.activity.$errors.length > 0"
                     :messages="v$.activity?.$errors[0]?.$message" :valid-input="!v$.activity.$invalid" placeholder="activity"></c-input>

            <c-input v-model="state.kitchen_style" id="restaurant-input-kitchen-style" class="mt-3" :invalid-input="v$.kitchen_style.$errors.length > 0"
                     :messages="v$.kitchen_style?.$errors[0]?.$message" :valid-input="!v$.kitchen_style.$invalid" placeholder="Kitchen style"></c-input>

            <c-input v-model="state.n_siren" id="restaurant-input-siren" class="mt-3" :invalid-input="v$.n_siren.$errors.length > 0"
                     :messages="v$.n_siren?.$errors[0]?.$message" :valid-input="!v$.n_siren.$invalid" placeholder="N siren"></c-input>

            <div class="flex">
                <div class="w-1/2 flex items-center justify-start">
                    <label for="restaurant-input-on-place" class="mr-2">On place</label>
                    <input type="checkbox" id="restaurant-input-on-place" v-model="state.on_place"/>
                </div>
                <div class="w-1/2 flex items-center justify-start">
                    <label for="restaurant-input-take-away" class="mr-2">Take away</label>
                    <input type="checkbox" id="restaurant-input-take-away" v-model="state.take_away"/>
                </div>
            </div>
            <c-input v-model="state.instagram_url" id="restaurant-input-instagram" class="mt-3" placeholder="Instagram url"></c-input>

            <c-input v-model="state.twitter_url" id="restaurant-input-twitter" class="mt-3" placeholder="Twitter url"></c-input>

            <c-input v-model="state.facebook_url" id="restaurant-input-facebook" class="mt-3" placeholder="Facebook url"></c-input>
        </form>
    </c-modal>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from "vue";
import { useVuelidate, ValidationRule } from '@vuelidate/core';
import { required, minLength } from '@vuelidate/validators';
import { restaurantOriginalState } from "@/originalState";
import CInput from "@/components/Custom/CInput.vue";
import CModal from "@/components/Custom/CModal.vue";
import { useStore } from "vuex";

export default defineComponent({
    name: 'ManageRestaurant',
    components: { CInput, CModal },
    setup() {
        const store = useStore();
        const edit = ref(false);

        let state = ref({
            ...restaurantOriginalState
        });

        const requiredNameLength = ref(8);

        const rules = computed(() => ({
            name: {
                required,
                minLength: minLength(requiredNameLength.value),
            },
            address: { required },
            city: { required },
            cp: { required },
            country: { required },
            activity: { required },
            n_siren: { required },
            kitchen_style: { required },
            take_away: { required },
            on_place: { required }
        }))

        const v$ = useVuelidate<ValidationRule>(rules, state);

        const dialog = ref();

        const show = ((restaurant: any) => {
            if(restaurant) {
                edit.value = true;
                state.value = restaurant.value;
            } else {
                state.value = {
                    ...restaurantOriginalState
                };
            }
            dialog.value.show();
        })

        const submit = (async () => {
            const correctForm = await v$.value.$validate();

            if (correctForm) {
                if(edit.value) {
                    await store.dispatch('restaurants/updateRestaurant', state.value);
                    edit.value = false;
                    dialog.value.hide();
                } else {
                    await store.dispatch('restaurants/addRestaurant', state.value);
                    state.value = {
                        ...restaurantOriginalState
                    };
                    v$.value.$reset();
                    dialog.value.hide();
                }
            }
        })

        return { state, v$, submit, dialog, show, edit }
    }
})
</script>
