<template>
    <div>
        <custom-modal ref="dialog" :title="edit ? 'Update Table' : 'Create a table'" size="md" @onSave="submit()">
            <form @submit.prevent>
                <c-input v-model.number="state.table_numero" id="table-input-table-number" class="mt-3" type="number" :invalid-input="v$.table_numero.$errors.length > 0"
                         :messages="v$.table_numero?.$errors[0]?.$message" :valid-input="!v$.table_numero.$invalid" placeholder="Table numero"></c-input>

                <c-input v-model.number="state.nb_place" id="table-input-table-places" class="mt-3" type="number" :invalid-input="v$.nb_place.$errors.length > 0"
                         :messages="v$.nb_place?.$errors[0]?.$message" :valid-input="!v$.nb_place.$invalid" placeholder="Number of places"></c-input>

                <c-input v-if="!edit" v-model="state.quantity" id="table-input-table-quantity" class="mt-3" type="number" :invalid-input="v$.quantity.$errors.length > 0"
                         :messages="v$.quantity?.$errors[0]?.$message" :valid-input="!v$.quantity.$invalid" placeholder="Quantity"></c-input>
            </form>
        </custom-modal>
    </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from "vue";
import CustomModal from "@/components/Custom/CModal.vue";
import { minValue, required } from "@vuelidate/validators";
import { useVuelidate, ValidationRule } from "@vuelidate/core";
import { tableOriginalState } from "@/originalState";
import CInput from "@/components/Custom/CInput.vue";
import { useStore } from "vuex";

export default defineComponent({
    components: { CustomModal, CInput },
    setup() {
        const store = useStore();
        const state = ref({
            ...tableOriginalState
        });

        const edit = ref(false);
        const dialog = ref();

        const selectedRestaurant = computed(() => store.getters["restaurants/selectedRestaurant"]);

        const rules = computed(() => ({
            table_numero: { required },
            nb_place: { required },
            quantity: { minValue: minValue(1) }
        }))

        const show = ((table: any) => {
            if(table) {
                edit.value = true;
                state.value = table.value
            } else {
                edit.value = false;
                state.value = {
                    ...tableOriginalState
                }
            }
            dialog.value.show()
        })

        const v$ = useVuelidate<ValidationRule>(rules, state);

        const submit = (async () => {
            const correctForm = await v$.value.$validate();

            if(correctForm) {
                if(edit.value) {
                    try {
                        await store.dispatch("tables/updateTable", { restaurantId: selectedRestaurant.value.id, table: state.value });
                        edit.value = false;
                        dialog.value.hide();
                    } catch (e) {
                        throw e.message;
                    }
                } else {
                    try {
                        await store.dispatch("tables/addTable", { restaurantId: selectedRestaurant.value.id, table: state.value });
                        state.value =  {
                            ...tableOriginalState
                        };
                        v$.value.$reset();
                        dialog.value.hide();
                    } catch (e) {
                        throw e.message;
                    }
                }
            }
        })
        return { v$, state, dialog, edit, submit, show }
    }
})
</script>
