<template>
    <div class="sticky top-0 right-0 min-w-1/3 h-screen border-l-2">
        <h3 class="ml-3 mt-3 font-bold text-1xl text-left">Commande n°366</h3>
        <div class="ml-3 flex">
            <div class="btn-dishes mr-3">Sur place</div>
            <div class="btn-dishes mr-3">À emporter</div>
            <div class="btn-dishes mr-3">Click and collect</div>
        </div>
        <div class="ml-3 mt-3 grid grid-cols-12">
            <div class="text-left col-span-6">Item</div>
            <div class="text-left col-span-3">Qté</div>
            <div class="text-left col-span-3">Prix</div>
        </div>

        <div v-for="(orderedDish, index) in getCurrentOrder()['order_dishes']" :key="orderedDish.dish.id"
             class="ring-2 ring-blue mt-3 mx-3 px-2 items-center grid grid-cols-12">
            <div class="text-left col-span-6">{{ orderedDish.dish.name }}</div>
            <div class="text-left col-span-3 flex items-center">
               {{ orderedDish.quantity }}
                <div class="flex flex-row">
                <button @click="addToCurrentOrder(orderedDish.dish)" class="material-icons">add</button>
                <button @click="substituteToCurrentOrder(orderedDish.dish, index)" class="material-icons">remove</button>
            </div>
        </div>
            <div class="text-left col-span-2">{{convertNumberToPrice(orderedDish.dish.price * orderedDish.quantity)}}</div>
            <button @click="deleteFromCurrentOrder(index)" class="material-icons col-span-1">deleted</button>
        </div>
        <div class="max-w-md mt-6">{{ getCurrentOrder() }}</div>
<!--        <div v-for="(orderedDish, index) in getCurrentOrder()['order_dishes']" :key="orderedDish.dish.id"-->
<!--             class="ring-2 ring-blue mt-3 mx-3 px-2 items-center grid grid-cols-12">-->
<!--            <div class="text-left col-span-6">{{ orderedDish.dish.name }}</div>-->
<!--            <div class="text-left col-span-3 flex items-center">-->
<!--                {{ orderedDish.quantity }}-->
<!--                <div class="flex flex-row">-->
<!--                    <button @click="addToCurrentOrder(orderedDish.dish)" class="material-icons">add</button>-->
<!--                    <button @click="substituteToCurrentOrder(orderedDish.dish, index)" class="material-icons">remove-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="text-left col-span-2">{{-->
<!--                    convertNumberToPrice(orderedDish.dish.price * orderedDish.quantity)-->
<!--                }}-->
<!--            </div>-->
<!--            <button @click="deleteFromCurrentOrder(index)" class="material-icons col-span-1">deleted</button>-->
<!--        </div>-->
<!--        <div class="max-w-md mt-6">{{ getCurrentOrder() }}</div>-->
    </div>
</template>
<script>
import {defineComponent} from 'vue';
import {
    deleteFromCurrentOrder,
    getCurrentOrder,
    addToCurrentOrder,
    substituteToCurrentOrder
} from '../services/orders.services';
import {convertNumberToPrice} from '../common/helpers';

export default defineComponent({
    setup() {
        return {
            getCurrentOrder,
            deleteFromCurrentOrder,
            convertNumberToPrice,
            addToCurrentOrder,
            substituteToCurrentOrder
        };
    }
})
</script>
