<template>
    <div>
        <div v-for="restaurant in restaurants" :key="restaurant.id">
            <router-link :to="{ name: 'Restaurant', params: { id: restaurant.id }}">
                {{ restaurant.name }}
            </router-link>
        </div>
    </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted } from "vue";
import { useStore } from "vuex";

export default defineComponent({
    name: 'Restaurants',
    setup() {
        const store = useStore();

        onMounted(async () => {
            await store.dispatch('restaurants/getRestaurants');
        });

        const restaurants = computed(() => store.getters["restaurants/restaurants"]);

        return { restaurants }
    }
})
</script>