<template>
    <div v-if="restaurant.id === $route.params.id">
        {{ restaurant }}
        <div v-if="isConnected">
            <c-button id="make-reservation" class="btn-primary" @click="makeReservation">Reservation</c-button>
        </div>
        <div v-else>
            You have to be connected to make a reservation
        </div>
    </div>
</template>

<script lang="ts">
import { computed, defineComponent, onBeforeMount } from "vue";
import { useRoute } from "vue-router";
import { useStore } from "vuex";
import { Restaurant, User } from "@/@types";
import CButton from "@/components/Custom/CButton.vue";
import { createToast } from "mosha-vue-toastify";

export default defineComponent({
    name: 'SingleRestaurant',
    components: { CButton },
    setup() {
        const route = useRoute();
        const store = useStore();

        onBeforeMount(async () => {
            await store.dispatch("restaurants/getRestaurant", route.params.id)
        });

        const restaurant = computed<Restaurant>(() => store.getters["restaurants/restaurant"]);
        const isConnected = computed<boolean>(() => store.getters["users/isConnected"]);
        const connectedUser = computed<User>(() => store.getters["users/connectedUser"]);
        const name = computed(() => connectedUser.value.firstName + ' ' + connectedUser.value.lastName)

        const makeReservation = (async () => {
            const reservation = {
                name: name.value,
                nb_people: 4,
                reservation_date: new Date(),
                is_validated: false,
                status: 'Pending'
            }
            try {
                await store.dispatch("reservations/addReservation", { restaurantId: restaurant.value.id, reservation });
                createToast('Reservation made with success', { type: 'success', position: 'bottom-right'})
            } catch (e) {
                createToast('Please retry', { type: 'danger', position: 'bottom-right'})
            }
        });

        return { restaurant, isConnected, makeReservation }
    }
});
</script>