<template>
    <manage-reservation></manage-reservation>
</template>

<script>
import ManageReservation from "../../components/Admin/Reservation.vue";
import { defineComponent } from "vue";
export default defineComponent({
    components: { ManageReservation }
})
</script>