<template>
    <manage-restaurant></manage-restaurant>
</template>

<script>
import ManageRestaurant from "../../components/Admin/Restaurant.vue";
import { defineComponent } from "vue";
export default defineComponent({
    components: { ManageRestaurant }
})

</script>