<template>
    <div class="wrapper">
        <div class="main flex h-full relative">
            <!--                <div style="position: absolute; top: 25px; left: 25px; cursor: pointer; z-index: 1"-->
            <!--                     @click="$router.push({name: 'Home'})">-->
            <!--                    <b-img :src="logoOut" height="50" width="50"></b-img>-->
            <!--                </div>-->
            <div class="main-left w-2/3">
                <div class="w-10/12 m-auto h-full w-full flex flex-column justify-center items-center">
                    <div class="main-left-content w-full">
                        <!--                            <img :src="imgLogo" height="50" width="100"/>-->
                        <div class="pt-4">
                            <span class="text-f-pink-600 font-bold"
                                  style="font-size: 32px">Welcome back</span>
                        </div>
                        <div class="pt-2 mb-5">Sign in by entering credentials below</div>
                        <form class="w-1/2 m-auto">

                            <c-input id="input-email" v-model="email" placeholder="Email" type="email"/>

                            <c-input id="input-password" class="mt-2" v-model="password" placeholder="Password" type="password"/>
                        </form>
                        <c-button id="connection" class="btn-primary mt-2" @click="connexion" :disabled="loginPending">Connexion</c-button>
                    </div>
                </div>
            </div>
            <div class="main-right w-1/3 bg-f-blue-600 h-full relative">
                <!--/*                    <img alt="Login" style="position: absolute; top: 30%; left: -40%;" :src="mainPicture" height="400"/>*/-->
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from "vue";
import CInput from "../Custom/CInput.vue";
import CButton from "../Custom/CButton.vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import { createToast } from "mosha-vue-toastify";

export default defineComponent({
    components: { CButton, CInput },
    setup() {
        const store = useStore();
        const router = useRouter();

        const email = ref('');
        const password = ref('');
        const loginPending = ref(false);

        const connexion = async () => {

            loginPending.value = true;
            try {
                await store.dispatch('users/login', {
                    email: email.value,
                    password: password.value
                });

                await store.dispatch('users/userInformation');
                await router.push({ name: 'Home' });
            } catch (e) {
                loginPending.value = false;
                createToast(e.message, { type: 'danger', position: 'bottom-right'})
            }
            loginPending.value = false;
        }

        const result = computed(() => store.getters["users/auth"]);

        return { email, password, connexion, result, loginPending }
    }
})
</script>

<style>
.wrapper {
    height: calc(100vh - var(--navbar-height));
}
</style>
