<template>
    <div id="app">
        <div v-if="!loading">
            <nav-bar></nav-bar>
            <div style="padding-top: var(--navbar-height)" class="flex">
                <SideBarLeft/>
                <main class="w-screen">
                    <router-view></router-view>
                </main>
            </div>
        </div>
        <div v-else class="h-screen flex justify-center items-center">
            <BeatLoader :loading="loading" color="var(--primary-color)"></BeatLoader>
        </div>
    </div>
</template>

<script lang="ts">

import { computed, defineComponent, onBeforeMount, onMounted, ref } from 'vue'
import SideBarLeft from './components/Navigation/SideBarLeft.vue';
import NavBar from './components/Navigation/NavBar.vue';
import BeatLoader from "vue-spinner/src/BeatLoader.vue";
import { user } from '@/services/api';
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import { lastVisitedRoute } from "@/router";

export default defineComponent({
    name: 'App',
    components: {
        SideBarLeft,
        NavBar,
        BeatLoader
    },
    setup() {
        const store = useStore();
        const router = useRouter();
        const loading = ref<boolean>(false);

        onBeforeMount(async () => {
            if (user.value.refresh_token && user.value.refresh_token !== '') {
                // If refresh_token exists, auto login then redirect to home
                try {
                    loading.value = true;
                    await store.dispatch("users/refreshToken", user.value.refresh_token);
                    await store.dispatch("users/userInformation");

                    if(store.getters["users/owner"]) {
                        await store.dispatch('restaurants/getOwnerRestaurants');
                    }

                    lastVisitedRoute.value !== '' ? await router.push({ name: lastVisitedRoute.value }) : await router.push({ name: 'Home' });
                    loading.value = false;
                } catch (e) {
                    loading.value = false;
                    await router.push({ name: 'Login' });
                }
            }
        });

        return { loading }
    }
})
</script>

<style lang="scss">

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
</style>
