@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-dishes {
        @apply py-2 px-4 bg-f-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-400 focus:ring-opacity-75;
    }

    .btn-primary {
        @apply focus:outline-none text-white bg-magenta-700 hover:bg-magenta-800 focus:ring-4 focus:ring-magenta-300 font-bold rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-magenta-600 dark:hover:bg-magenta-700 dark:focus:ring-magenta-900;
    }

    .btn-danger {
        @apply focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-bold rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
    }

    .btn-success {
        @apply focus:outline-none text-white bg-green-500 hover:bg-green-400 focus:ring-4 focus:ring-green-200 font-bold rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-400 dark:hover:bg-green-500 dark:focus:ring-green-600;
    }

    .btn-warning {
        @apply focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-bold rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900;
    }

    .btn-dark {
        @apply text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-bold rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700;
    }

    button.disabled {
        @apply opacity-60 pointer-events-none !important;
    }
}
