@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .invalid-input {
        @apply border-b-2 border-red-600 focus:border-red-700 text-red-600 font-medium bg-red-100 !important
    }
    .valid-input {
        @apply border-b-2 border-green-600 focus:border-green-700 text-green-600 font-medium bg-green-100 !important
    }
}
